<!-- <div style="text-align:center">
  <ul>
    <li *ngFor="let user of users | async">
      {{ user.firstName }}
    </li>
  </ul>
</div> -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input class="form-control" placeholder="Location" ngx-google-places-autocomplete [options]="{
              types: []
              }" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
          </div>
        </div>
    </div>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>