<div>
    <div class="row top-gap">
        <div class="col" *ngIf="usersData.length">
            <span class="users-header">Users</span>
        </div>
        </div>
        <div class="row top-gap" *ngFor="let user of users | async">
        <div class="col">
            <span>{{user.firstName}} {{user.lastName}} - {{user.location.name}} </span>
        </div>
        <div class="col">
            <button (click)="removeUser(user)" type="button" class="btn btn-danger">Delete</button>
        </div>
    </div> 
    <div class="row top-gap" *ngIf="usersData.length">
        <div class="col">
            <button (click)="calculateDistance()" type="button" class="btn btn-primary">
                Calculate distance
            </button>
        </div>
    </div>
</div>