<div class="row top-gap">
    <div class="col">
      <div class="input-group mb-3">
        <input 
          [(ngModel)]="user.firstName"
          [ngClass]="{'invalid-input': errorFields.includes('firstName')}"
          type="text" class="form-control" 
          placeholder="Name" aria-label="Username" 
          aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <input 
          [(ngModel)]="user.lastName"
          [ngClass]="{'invalid-input': errorFields.includes('lastName')}"
          type="text"
          class="form-control" 
          placeholder="Last name" 
          aria-label="Username" 
          aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <input 
              class="form-control" 
              [ngClass]="{'invalid-input': errorFields.includes('location')}"
              placeholder="Location" 
              ngx-google-places-autocomplete 
              [options]="locationOptions"
              #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event)"/>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
        <button (click)="saveUser()" type="button" class="btn btn-success">Save</button>                    
    </div>
  </div>