/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.top-gap {
    margin-top: 20px;
}

.invalid-input {
    border-color: #dc3545;
}

.users-header {
    font-weight: bold;
}

.map {
    min-height: 80%;
    height: 100%;
    width: 100%;
}

.map-fill {
    min-height: 600px;
    width: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}