/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.top-gap {
    margin-top: 20px;
}

.invalid-input {
    border-color: #dc3545;
}

.users-header {
    font-weight: bold;
}